---
import Svgicons from '@/components/svgicons.astro';
export interface Props {
  attributes: object;
}

const {attributes} = Astro.props as Props;
const summary = Object.hasOwn(attributes,"summary")?attributes.summary:"Details..."

---
<details class="directive">
  <summary>
    <span>{summary}</span>
    <span class="arrow"><Svgicons filename='rightarrow'/></span>
  </summary>
  <article>
    <slot/>
  </article>
</details>

<style>
details{
  background-color: #333;
  border-radius: 5px;
  padding:0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  min-width: 98%;
  width: fit-content;
}
details[open] summary {border-radius: 5px 5px 0 0;}

summary{
  border-radius: 5px;
  cursor: pointer;
  padding:0.5rem;
  list-style: none;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
article{
  background-color: #1e1e1e;
  padding: 10px;
}
.arrow :global(svg){
  width:16px;
  height:16px;
  rotate: 90deg;
  transition: rotate .4s ease-in-out;
}
details[open] summary :global(svg){
  rotate: -90deg;
  transition: rotate .4s ease-in-out;
}
</style>
