---
import Svg from '@/components/svgicons.astro'
export interface Props {
  id: string;
}

const { id } = Astro.props as Props;

---
<h1 id={id} class="heading">
  <a href={`#${id}`} id="heading">
    <slot/>
  </a>
  <div class="icon">
    <Svg filename="link"/>
  </div>
</h1>

<style>
.active{
  background-color: #37373D;
  padding: 2px;
}
.hover{
  background-color: #606060;
}
.heading{
  display:flex;
}
.heading:hover{
  background-color: #606060;
}
#heading{
  color:rgb(201, 190, 190);
  text-decoration: none;
  flex-grow: 1;
}
.icon{
  display:none;
  flex-grow: 100;
}
.heading:hover > .icon{
  display:block;
}

</style>
<style is:inline>

</style>
<script>
import { event } from "@/libs/utils";

  const headings = document.querySelectorAll(".heading");
  headings.forEach(element => {
      element.addEventListener('mouseenter',(event)=>{
          const id = event.target.id
          document.querySelector(`a[href="#${id}"]`)?.classList.add("active")
      })        
      element.addEventListener('mouseout',(event)=>{
        const id = event.target.id
        document.querySelector(`a[href="#${id}"]`)?.classList.remove("active")
      })        
  });
</script>