---
export interface Props {
  id: string;
}

const { id } = Astro.props as Props;

---
<h2 id={id} class="heading"><slot/></h2>

<style>
.active{
  background-color: #37373D;
  padding: 2px;
}
.hover{
  background-color: #606060;
}
.heading:hover{
  background-color: #606060;
}

</style>
