---
import Layout from "../layout/Layout.astro";
const title = "Astro Nav Menus"
console.log("Hello from Server")
---
<Layout title={title}>
	<h1>Astro Nav Menus demo</h1>
	<p>Home index</p>
</Layout>
