---
import Layout from "../layout/Layout.astro";
const title = "Astro Nav Menus"
console.log("Hello from Server")
---
<Layout title={title}>
	<h1>Astro Nav Menus demo</h1>
	<p>Home index</p>
	{new Array(100).fill(0).map((id,index)=>(
		<div>{index}</div>
	))}
</Layout>
