---
import Layout from "@/layout/Layout.astro";

export interface Props {
  target: string;
}

const {target} = Astro.props

---

<Layout title="Not Found">
  <div class="container">

    <div class="error">
      Page <span class="special">{target}</span> not found
    </div>
  </div>
</Layout>

<style>
  .container{
    background: rgb(66, 65, 65);
    height: 15rem;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
.error{
  font-size:x-large;
}
.special{
  color: rgb(226, 215, 149);
}
</style>