---
import Layout from "@/layout/Layout.astro";
const title = "Markdown"
---
<Layout title={title}>
	<h1>Markdown section</h1>
    <p>This is just the landing page of the markdown section</p>
    <p>Select a makrdwon page from the left menu to get started</p>
</Layout>
