---
//https://ellodave.dev/blog/article/using-svgs-as-astro-components-and-inline-css/
import {existsSync,readFileSync} from 'fs'
import Svg from './svg.astro'
export interface Props {
  'data-filename': string;
}

const { 'data-filename':filename } = Astro.props as Props;
const filepath = `./data/blog/${filename}`
console.log(`Svgb calld for : ${filepath}`)

const innerHTML = existsSync(filepath)?readFileSync(filepath).toString():await Astro.slots.render('default');
---
<div class="container">
  <div class="header">
    <Svg filename="full-screen"/>
  </div>
  <div class="figure">
    <Fragment set:html={innerHTML} />
  </div>
</div>

<style >
.container{
  background: white;
  border-radius: 5px;
  display:flex;
  
  justify-content: flex-start;
  gap:0px;
  flex-direction: column;
  align-items: flex-start;
  padding:5px;
  box-shadow: 4px 2px 8px 4px rgba(81, 81, 81, 0.5);
  width:fit-content;
}
.header{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  background:white;
  width:100%;
}
.figure{
  display: flex;
}
.figure > svg{
}

</style>

<style is:inline>
  .header > svg{
  height: 16px;
  width: 16px;
  margin:0px;
  padding:2px;
}
.header > svg:hover{
  background:#ddd;
  cursor: pointer;
}

</style>