---
import menu from "../config/menu.json"
import { remove_base,active_page } from "@/components/menu_utils";
import Icon from "@/components/icon.astro"

const baseUrl = import.meta.env.BASE_URL.slice(0, -1)
const pageUrl = remove_base(baseUrl,Astro.url.pathname)
const active_page_index = active_page(pageUrl,menu)
menu.forEach((item,index)=>{
    item.active_class = (index == active_page_index)?"active":""
})

---
<div class="navbar">
    <ul class="navbar-left">
            {menu.filter(item=>!item.icon).map((item)=>(
            <li><a href={baseUrl+item.href} class={item.active_class}>{item.text}</a></li>
            ))}
    </ul>
    <ul class="navbar-right">
        {menu.filter(item=>item.icon).map((item)=>(
            <li>
                <a href={item.href} target="blank">
                    <Icon filename={item.icon} />
                    </a>
                    </li>
                    ))}
    </ul>
</div>

<style>
.navbar{
    display:flex;
    justify-content: space-between;
    min-width: 400px;
}
.navbar-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar-right {
    padding-right: 50px;
}

ul{
    margin:0px;
}
li{
    list-style: none;
}

a{
    float:left;
    font-size: 17px;
    padding: 14px 16px;
    text-align:center;
    color: #CCCCCC;
	text-decoration: none;

}
a:hover{
    background-color: #454646;
}
a.active{
    border:0px;
    border-bottom:  3px solid rgb(88, 88, 88);
    background-color: #454646;
}

.navbar-right > li > a{
    float:right;
    padding: 6px;
}
</style>