---
import menu from "../config/menu.json"
import { active_page } from "../components/utils";

const active_page_index = active_page(Astro.url,menu)
menu.forEach((item,index)=>{
    item.active_class = (index == active_page_index)?"active":""
})
---
<header>
    <div class="topnav">
        {menu.map((item)=>(
                <a href={item.href} class={item.active_class}>{item.text}</a>
        ))}
    </div>
</header>

<style>
    .topnav{
        overflow: hidden;
        background-color: #333;
    }
    a{
        float:left;
        font-size: 17px;
        padding: 14px 16px;
        text-align:center;
        color: white;
    }
    a:hover{
        color:black;
        background-color: #ddd;
    }
    a.active{
        color:white;
        background-color: #048b59;
    }
</style>