:root {
    --header-bg-color: #3C3C3C;
    --header-active-color: #454646;
    --fixed-nav-bg-color: #333333;
    --fixed-nav-hover-color: #545454;
    --nav-bg-color: #252526;
    --front-blue: #007ACC;
    --content-color: #CCCCCC;
    --content-bg-color: #1E1E1E;
    --scroll-thumb-color: #464647;
    --scroll-thumb-hover-color: #515151;
    --article-anchor-color: #3794FF;
    --menu-span-hover-color: #606060;
    --menu-active-color: #37373D;
    --menu-icon-hover-color: #4d99cc;
    --menu-border-left-color: #888;
  }	
  