---
import AppBar from './AppBar.astro';
import NavTree from './NavTree.astro';
import NavList from './NavList.astro';
import menu from "../config/menu.json"
import { active_page } from "../components/utils";

export interface Props {
	title: string;
}
const { title } = Astro.props;
const active_page_index = active_page(Astro.url,menu)
const menu_visible = ("items" in menu[active_page_index])
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<div class={`fixed-nav ${menu_visible?"active":""}`}/>
		<div class="appbar-nav_content-footer">
			<AppBar/><!-- contain header -->
			<div class="nav-content">
				<NavTree/><!-- optional contains nav -->
				<div class={`nav-resize ${menu_visible?"active":""}`}/>
	 			<main class="content">
					<slot/>
				</main>
			</div>
			<footer>
				<p>footer</p>
			</footer>
		</div>
	</body>
</html>

<style>
body{
	margin:0;
	font-family: Arial, Helvetica, sans-serif;
	display:flex;
	flex-direction: row;
}
.fixed-nav{
	width:3em;
	background-color: #333333;
	height:100vh;
	display:flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	overflow: hidden;
}
.active.fixed-nav{
	cursor:pointer;
}
.active.fixed-nav:hover{
	background-color: #545454;
	transition: background-color 0.3s;
}
.appbar-nav_content-footer{
	flex-grow:1;
	display:flex;
	flex-direction: column;
	height:100vh;
}
.nav-content{
	flex-grow:1;
	display:flex;
	flex-direction: row;
	height:80vh;
}
	.nav-resize{
		width:0.5rem;
		background-color: #1E1E1E;
	}
	.active.nav-resize{
		cursor:col-resize;
	}
	.active.nav-resize:hover{
		background-color: #007ACC;
		transition: background-color 0.5s;
	}
.content{
	color:#CCCCCC;
	background-color: #1E1E1E;
	width:100%;
	overflow:auto;
	padding:10px;
}
.content::-webkit-scrollbar {
  width: 1rem;
}
.content::-webkit-scrollbar-track {
  background: #252526; 
}
.content::-webkit-scrollbar-thumb {
  background: #464647; 
}
.content::-webkit-scrollbar-thumb:hover {
  background: #515151; 
}

footer{
	flex-grow:0;
	background-color: #007ACC;
	color:white;
	text-align: center;
	overflow: hidden;
}
footer p{
	margin:6px;
}
</style>

<script >
	
	function configure_nav(){
		const fixed_nav = document.getElementsByClassName("fixed-nav")[0]
		fixed_nav?.addEventListener("click",(e)=>{
			const nav = document.getElementsByTagName("nav")[0]
			const current_state = nav.getAttribute("data-state")
			if(current_state == "open"){
				nav.setAttribute("data-state","closed")
				nav.style.width = "0vw"
			}else if(current_state == "closed"){
				nav.setAttribute("data-state","open")
				nav.style.width = nav.getAttribute("data-width")
			}
			e.preventDefault()
		})

		var global_resize_state = false
		var x_down
		var start_width
		var resize_nav = document.getElementsByClassName("nav-resize")[0]
		
		function finish_mouse(){
			const nav = document.getElementsByTagName("nav")[0]
			global_resize_state = false
			nav.style.transition = "width 0.5s"
		if(nav.clientWidth < 20){
			nav.setAttribute("data-state","closed")
			nav.setAttribute("data-width","20vw")
		}else{
			nav.setAttribute("data-state","open")
		}
		resize_nav.style.backgroundColor = "#1E1E1E"
		}
		
		resize_nav?.addEventListener("mouseenter",(e)=>{
			resize_nav.style.backgroundColor = "#007ACC"
		})
		resize_nav?.addEventListener("mouseleave",(e)=>{
			resize_nav.style.backgroundColor = "#1E1E1E"
		})
		resize_nav?.addEventListener("mousedown",(e)=>{
			const nav = document.getElementsByTagName("nav")[0]
			global_resize_state = true
			x_down = e.x
			start_width = nav.clientWidth
			nav.style.transition = "none"
		})
		resize_nav?.addEventListener("mouseup",(e)=>{
			finish_mouse()
		})
		document.addEventListener("mouseup",(e)=>{
			if(global_resize_state == true){
				finish_mouse()
			}
		})
		document.addEventListener("mousemove",(e)=>{
			if(global_resize_state == true){
				const nav = document.getElementsByTagName("nav")[0]
				const new_width = start_width + (e.x-x_down)
				if(new_width <= 60){//snap effect
					nav.style.width = "0px"
					nav.setAttribute("data-width","0px")
					resize_nav.style.backgroundColor = "#007ACC"
				}else if(new_width < 160){
					//do nothing here
				}else if(new_width < document.documentElement.clientWidth/2){
					nav.style.width = new_width+"px"
					nav.setAttribute("data-width",new_width+"px")
					resize_nav.style.backgroundColor = "#007ACC"
				}else{
					resize_nav.style.backgroundColor = "red"
				}
				e.preventDefault()
			}
		})
	}
	
	const nav = document.getElementsByTagName("nav")[0]
	if(nav){
		configure_nav()
	}

</script>
