---
import raw_menu from "../config/menu_list.json"
import { process_menu_list } from "../components/menu_utils";

const side_menu = process_menu_list(Astro.url,raw_menu)

---
{side_menu.visible &&
    <nav data-width="15vw" data-state="open">
        {side_menu.items.map((item)=>(
                <a href={item.href} class={item.active_class} style={`padding-left:${item.paddingLeft}px`}>{item.text}</a>
        ))}
    </nav>
}
<style>
nav{
    background: rgb(101, 94, 94);
    display:flex;
    flex-direction: column;
    overflow:auto;
    transition: width 0.5s;
    width:15vw;
}
a{
    text-decoration: none;
    user-select: none;
    padding:10px;
    color:white;
    min-width: 130px;
}
a:hover{
    color:black;
    background-color: #ddd;
}
a.active{
    color:white;
    background-color: #06ad70;
}

</style>
