---
import NavSubMenu from "./NavSubMenu.astro";

export interface Props {
  items: Array<Object>;
}

let { items } = Astro.props;
---
<nav class="left-nav" data-width="20vw" data-state="open">
    <NavSubMenu items={items} />
</nav>

<style>
nav{
    background: #252526;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 0.5s;
    width:20vw;
    flex-shrink: 0;
    scrollbar-color: rebeccapurple  green;
}
nav::-webkit-scrollbar {
  width: 1rem;
}
nav::-webkit-scrollbar-track {
  background: #252526; 
}
nav::-webkit-scrollbar-thumb {
  background: #464647; 
}
nav::-webkit-scrollbar-thumb:hover {
  background: #515151; 
}

@media only screen and (max-width: 700px) {
	nav {
    width:100%;
  }
}

</style>
