---
import raw_menu from "../config/menu.json"
import { process_menu_tree } from "../components/menu_utils";
import SubMenu from "./SubMenu.astro";
const side_menu = process_menu_tree(Astro.url,raw_menu)
---
{side_menu.visible &&
    <nav data-width="15vw" data-state="open">
        <SubMenu items={side_menu.items}/>
    </nav>
}
<style>
nav{
    background: #555;
    overflow:auto;
    transition: width 0.5s;
    width:15vw;
}
</style>
