---
import SubMenu from "./SubMenu.astro";
export interface Props {
	items: Array<Object>;
}
const { items } = Astro.props;

---
{items &&
    <ul>
        {items.map((item)=>(
            <li >
                <a href={item.href} class={item.active_class}>{item.text}</a>
                <SubMenu items={item.items}/>
            </li>
        ))}
    </ul>
}
<style>
    ul{
        display:flex;
        flex-direction: column;
        list-style: none;
        padding-left: 10px;
        margin:0px;
    }
    li{
        min-width: 130px;
    }
    a:hover{
        color:black;
        background-color: #ddd;
    }
    a.active{
        background-color: #06ad70;
    }
    
    a{
        padding:10px;
        text-decoration: none;
        user-select: none;    
        color:white;
        display:block;
    }
</style>
