---
import SubMenu from "./SubMenu.astro";
export interface Props {
	items: Array<Object>;
        root:boolean;
}
const { items,root=true } = Astro.props;

---
{items &&
    <ul class={root?"":"nested"}>
        {items.map((item)=>(
            <li >
                <a href={item.href} class={item.active?"active":""}>
                    <span class:list={[{ parent: item.parent, expanded: item.expanded }]} ></span>
                    {item.text}
                </a>
                <SubMenu items={item.items} root={false}/>
            </li>
        ))}
    </ul>
}
<style>
    span.parent{
        cursor:pointer;
    }
    span.parent.expanded:before{
        float:left;
        content: '';
        border: 8px solid transparent;
        border-top: 8px solid white;
        margin-top: 3px;
        margin-right:10px;
    }
    span.parent:before{
        float:left;
        content: '';
        border: 8px solid transparent;
        border-left: 8px solid white;
        margin-top: 3px;
        margin-right:10px;
    }
    ul{
        display:flex;
        flex-direction: column;
        list-style: none;
        margin:0px;
        padding-left: 0px;
    }
    ul.nested{
        padding-left: 3px;
        border-top:   0px;
        border-left:  2px solid rgb(122, 122, 122);
        border-right: 0px;
        border-bottom:0px;
        margin-left: 4px;

    }
    ul.hidden{
        display:none;
    }
    li{
        min-width: 130px;
    }
    a:hover{
        color:black;
        background-color: #ddd;
    }
    a.active{
        background-color: #06ad70;
    }
    
    a{
        padding:10px;
        text-decoration: none;
        user-select: none;    
        color:white;
        display:block;
    }
</style>


<script>
let toggler = document.getElementsByClassName("parent");
for (let i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function(e) {
      this.parentElement.parentElement.querySelector("ul")?.classList.toggle("hidden");
      this.classList.toggle("expanded");
      e.preventDefault()
  });
}</script>